<!-- -*- mode: XML -*- -->

<launch>
    <node name="right_arm_dynamixel_manager" pkg="dynamixel_controllers" type="controller_manager.py" required="true" output="screen">
        <rosparam>
            namespace: dxl_manager
            serial_ports:
               right_arm_port:
                    port_name: "/dev/bender/right_arm"
                    baud_rate: 200000
                    min_motor_id: 0
                    max_motor_id: 21
                    update_rate: 20
        </rosparam>
    </node>

    <!-- Load controller configuration to parameter server -->
    <rosparam file="$(find bender_arm)/config/right_arm_controller.yaml" command="load"/>
    
    <!-- start specified joint controllers -->
    <node name="right_arm_dynamixel_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port=right_arm_port
                --type=simple
                    right_hombro_1_controller
                    right_hombro_2_controller
                    right_hombro_3_controller
                    right_codo_1_controller
                    right_codo_2_controller
                    right_muneca_controller
                    right_dedo_1_controller
                    right_dedo_2_controller"
          	output="screen"/>
     
    <node name="right_arm_controller_interface" pkg="bender_arm" 
    	type="right_arm_controller_interface" />

    <node name="right_arm_service_interface" pkg="bender_arm" 
    	type="right_arm_service_interface" />	
</launch>
