<launch>

    <!-- Parametros -->
    <arg name="rviz" default="false"/>
    <arg name="simulation" default="false"/>

    <!-- - - - - - - - - - - - N a v e g a c i o n - - - - - - - - - - -->
    <include file="$(find bender_nav)/launch/complete_nav.launch">
        <arg name="simulation" value="$(arg simulation)" />
        <arg name="rviz" value="$(arg rviz)" />
    </include>
    
</launch>