<launch>

	

	<!-- - - - - - - - - - -  Hardware  - - - - - - - - - - - - -->

	<!-- rgbd_head motor -->
	<include file="$(find bender_arm_control)/launch/r_arm_port.launch"/>
	<include file="$(find bender_arm_control)/launch/head.launch"/>

	<!-- face -->
	<include file="$(find bender_face)/launch/face.launch"/>

	<!-- - - - - - - - - - - - S p e e c h - - - - - - - - - - -->
	<include file="$(find bender_speech)/launch/synthesizer.launch"/>


</launch>