<launch>
	<arg name="gui" default="True" />
	<arg name="version2" default="True" />

    <node name="rviz" pkg="rviz" type="rviz" respawn="false" output="screen" args="-d $(find bender_model)/config/bender_model.rviz"/>
    	<param name="use_gui" value="$(arg gui)"/>
		<param name="robot_description" command="cat $(find bender_model)/robots/v2.0/bender_model.xml"/>

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
</launch> 
