<launch>
	<arg name="model" />
	<arg name="gui" default="False" />
	<param name="robot_description" textfile="$(find bender_model)/robots/baseArm.urdf"/>
	<node name="joint_state_publisher" pkg="bottomArmController" type="state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />	
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find urdf_tutorial)/urdf.vcg" />
	<node name="baseArm_Controller"    pkg="bottomArmController" type="baseArm_Controller" />
</launch>
