<launch>
  <node pkg="mp_tracker" type="d_tracker_node" name="phd_leg_laser_tracker" output="screen">
    <param name="tracking_frame" value="/map"/>
    <param name="laser_topic" value="/scan"/>
    <param name="pointcloud_topic" value="/openni/depth_registered/points"/>
    <param name="camera_topic" value="/openni/rgb/image_color"/>
    <param name="camera_info_topic" value="/openni/rgb/camera_info"/>
    <param name="use_beta_mixture" value="false"/>
    <param name="use_optimal_beta_merge" value="false"/>
    <param name="merge_beta_threshold" value="0.04"/>
    <param name="merge_gauss_threshold" value="0.1"/>
    <param name="max_components" value="200"/>
    <param name="clutter" value="1.0"/>
    <param name="use_leg_detector" value="true"/>
    <param name="debug_script" value=""/>
		<!-- /data/icl/mp_tracker/dtracker_debug_live.py -->
  </node>
</launch>
