<launch>

	<arg name="display" default="true"/>

	<arg name="cam_name" default="camera_termal"/>

	<!-- camera <node name="pubvideo" pkg="bender_vision" type="pubvideo" />-->
	<include file="$(find bender_sensors)/launch/camera/$(arg cam_name).launch">
		<arg name="display" value="false"/>
	</include>



	<!-- Blob Filter maco>40y 100-->
	<node name="blob_filter" pkg="bender_vision" type="blob_filter" ns="/bender/vision/" output="screen">
		<param name="cam_name" value="$(arg cam_name)"/>
		<param name="color_thresh" value="120"/>
		<param name="color_thresh_max" value="180"/>
		<param name="min_blob_size" value="50"/>
	</node>
<!--

	<node if="$(arg display)" name="blob_filter_display" pkg="bender_vision" type="blob_filter_display" output="screen" required="false" ns="/bender/vision/">
		<param name="cam_name" value="$(arg cam_name)"/>
	</node>

-->
	<node  name="emergency_detector" pkg="bender_vision" type="emergency_detector" >
		<param name="cam_name" value="$(arg cam_name)"/>
	</node>

</launch>
